<h1>Register a New Racer</h1>


<%= form_with scope: :racer, url: racers_path, local: true do |form| %>
<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :descrpt %><br>
  <%= form.text_area :descrpt %>
</p>

<p>
  <%= form.label :dob %><br>
  <%= form.date_field :dob %>
</p>

<p>
  <%= form.label :weight %><br>
  <%= form.number_field :weight, size: "60x12" %> kg
</p>

<p>
  <%= form.label :height %><br>
  <%= form.number_field :height, size: "60x22" %> cm
</p>
<p>
  <%= form.submit %>
</p>
<% end %>

<%= link_to 'Back', racers_path %>